.header {
  padding: 15px 20px;
  background-color: #ddd;

  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    width: 250px;
    text-align: center;
    margin-right: 1px;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &.active {
      background-color: teal;
      text-decoration: underline;
      color: #fff;
    }
  }
}
