<div class="route2">
  <div class="heading">Braintree hosted fields demo</div>
  <div class="three-ds">3DS support: requires extra work</div>
  <div class="grid-hosted-fields">
    <label for="card-number">Card number <span class="required">*</span></label>
    <div #cardNumber id="card-number" class="hosted-field"></div>

    <label for="cvv">CVV <span class="required">*</span></label>
    <div #cvv id="cvv" class="hosted-field"></div>

    <label for="expiration-date">Expiration date <span class="required">*</span></label>
    <div #expirationDate id="expiration-date" class="hosted-field"></div>
  </div>

  <div class="grid-amount">
    <div>
      <span class="charging-time">charging time</span>
    </div>

    <div>
      <div class="customer">
        <span>customer: {{ email() }}</span>
      </div>
    </div>

    <div>
      @for (t of [10, 20, 30]; track t) {
        <button class="btn-amount" [class.active]="time() === t" [class.first]="$first" [class.last]="$last"
                (click)="updateTime(t)">
          <span>{{ t }} mins</span>
        </button>
      }
    </div>

    <div>
      <button class="btn-pay" (click)="pay()">pay &pound;{{ amount() }}</button>
    </div>
  </div>

  <div class="transactions">
    <a [href]="transactionsUrl()" target="braintree">
      <span>Braintree dashboard transactions</span>
    </a>
    <a href="https://developer.paypal.com/braintree/docs/reference/general/testing/node/#valid-card-numbers" target="braintree">
      <span>Test card numbers</span>
    </a>
  </div>
</div>
