<div class="route3">
  <div class="heading">2C2P direct: server-to-server</div>
  <div class="three-ds">3DS support: no</div>

  <form #payForm="ngForm" id="payForm" (submit)="pay()">
    <div class="grid-direct-server-to-server">
      <label for="cardNumber">Card number <span class="required">*</span></label>
      <input id="cardNumber" name="cardNumber" placeholder="4111 1111 1111 1111" [(ngModel)]="model.cardNumber"
             required pattern="^(?:\s*\d\s*){16}$"/>

      <label for="expiryMonth">Expiry month <span class="required">*</span></label>
      <input id="expiryMonth" name="expiryMonth" placeholder="03" [(ngModel)]="model.expiryMonth"
             required pattern="^(0?[1-9]|1[0-2])$"/>

      <label for="expiryYear">Expiry year <span class="required">*</span></label>
      <input id="expiryYear" name="expiryYear" placeholder="33" [(ngModel)]="model.expiryYear"
             required pattern="^\d{2}$"/>

      <label for="cvv">CVV <span class="required">*</span></label>
      <input id="cvv" name="cvv" placeholder="123" [(ngModel)]="model.cvv"
             required pattern="^\d{3}$"/>
    </div>
  </form>

  <div class="grid-amount">
    <div>
      <span class="charging-time">charging time</span>
    </div>

    <div>
      <div class="customer">
        <span>customer: {{ email() }}</span>
      </div>
    </div>

    <div>
      @for (t of [10, 20, 30]; track t) {
        <button class="btn-amount" [class.active]="time() === t" [class.first]="$first" [class.last]="$last"
                (click)="updateTime(t)">
          <span>{{ t }} mins</span>
        </button>
      }
    </div>

    <div>
      <button form="payForm" class="btn-pay" [disabled]="payForm.invalid">pay &pound;{{ amount() }}</button>
    </div>
  </div>

  <div class="transactions">
    <div>
      <a href="https://developer.2c2p.com/docs/reference-testing-information" target="2c2p">
        <span>Test card numbers</span>
      </a>
    </div>
  </div>
</div>
