<div class="route3">
  <div class="heading">2C2P direct: server-to-server</div>
  <div class="three-ds">3DS support: no</div>

  <form #payForm="ngForm" id="payForm" (submit)="pay()">
    <div class="grid-2c2p">

      <label for="cardnumber">Card number <span class="required">*</span></label>
      <input placeholder="4111 1111 1111 1111"
             #cardnumber data-encrypt="cardnumber" id="cardnumber" name="cardnumber" [(ngModel)]="model.cardnumber"
             required maxlength="19">
      <div class="error">&nbsp;</div>
      <div class="error">{{ errors.cardnumber() || '&nbsp;' }}</div>

      <label for="month">Expiration month <span class="required">*</span></label>
      <input placeholder="03"
             #month data-encrypt="month" id="month" name="month" [(ngModel)]="model.month"
             required maxlength="2">
      <div class="error">&nbsp;</div>
      <div class="error">{{ errors.month() || '&nbsp;' }}</div>

      <label for="year">Expiration year <span class="required">*</span></label>
      <input placeholder="2033"
             #year data-encrypt="year" id="year" name="year" [(ngModel)]="model.year"
             required maxlength="4">
      <div class="error">&nbsp;</div>
      <div class="error">{{ errors.year() || '&nbsp;' }}</div>

      <label for="cvv">CVV <span class="required">*</span></label>
      <input placeholder="123" autoComplete="off"
             #cvv data-encrypt="cvv" id="cvv" name="cvv" [(ngModel)]="model.cvv"
             required maxlength="4">
      <div class="error">&nbsp;</div>
      <div class="error">{{ errors.cvv() || '&nbsp;' }}</div>

    </div>
  </form>

  <div class="grid-amount">
    <div>
      <span class="charging-time">charging time</span>
    </div>

    <div>
      <div class="customer">
        <span>customer: {{ email() }}</span>
      </div>
    </div>

    <div>
      @for (t of [10, 20, 30]; track t) {
        <button class="btn-amount" [class.active]="time() === t" [class.first]="$first" [class.last]="$last"
                (click)="updateTime(t)">
          <span>{{ t }} mins</span>
        </button>
      }
    </div>

    <div>
      <button form="payForm" class="btn-pay" [disabled]="payForm.invalid">pay S${{ amount() }}</button>
    </div>
  </div>

  <div class="transactions">
    <div>
      <a href="https://developer.2c2p.com/docs/reference-testing-information" target="2c2p">
        <span>Test card numbers</span>
      </a>
    </div>
  </div>
</div>
