<div class="route3">
  <div class="heading">2C2P direct: server-to-server</div>
  <div class="three-ds">3DS support: no</div>

  <form #payForm="ngForm" id="payForm" (submit)="pay()">
    <div class="grid-direct-server-to-server">
      <label for="cardNumber">Card number <span class="required">*</span></label>
      <label for="expiryMonth">Expiry month <span class="required">*</span></label>
      <label for="expiryYear">Expiry year <span class="required">*</span></label>
      <label for="cvv">CVV <span class="required">*</span></label>
    </div>
  </form>

</div>
