.route1 {
  .heading {
    margin-bottom: 10px;
  }

  .three-ds {
    margin-bottom: 20px;
  }

  .braintree-dropin-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

// choose another way to pay
::ng-deep .braintree-dropin .braintree-toggle {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}
